# node
node_modules/
package-lock.json

# Forge build artifacts
out/
dist/

# приватный движок
vot-cli/

# переведенные видео
traslated/

# system
.DS_Store
Thumbs.db

# editor junk
*.log
.vscode/
.idea/
*.swp
